@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700);
/*!
 * Build by Weeraphon Sinsrang
 * Email : naykeng1kz1@gmail.com
 * Social media : https://twitter.com/MonkeyD_SirKenG, https://www.facebook.com/Sir.keng
 !*/

body {
	font-family:'Open Sans',Arial,Helvetica,sans-serif;
	-webkit-font-smoothing: antialiased;
	margin:0; padding:0;

}

 /* 
 * Menu
 */
/* change navbar background */
.bg-green {
  	background-color: #5cb85c !important;

  	font-family:'Open Sans',Arial,Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;

	padding: 0rem 0rem 0rem 1rem;
	line-height: 2.5rem;  
}

a.bg-green:focus, a.bg-green:hover {
  background-color: #5cb85c !important;
}
/* change navbar-brand color */
.navbar a.navbar-brand {
  color: white;
}
/* change navbar-brand color on hover */
.navbar a.navbar-brand:hover {
  color: white;
}
/* change navbar-brand color on active */
.navbar a.navbar-brand:active {
  color: white;
}
/* change navbar-brand color on focus */
.navbar a.navbar-brand:focus {
  color: white;
}
/*  change navbar li colors, also active one but not disabled one */
.navbar ul.navbar-nav li.nav-item a.nav-link {
	color: white;
}
/*  when navbar active */
.navbar ul.navbar-nav li.nav-item.active a.nav-link{
	border: 0.05rem solid transparent;

    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;

  	background-image: none;
  	background-color: white;
  	border-color: #5cb85c;
	color: #5cb85c;
}
/*  change navbar li colors, also hover one but not disabled one */
.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
	border: 0.05rem solid transparent;

    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;

  	background-image: none;
  	background-color: white;
  	border-color: #5cb85c;
	color: #5cb85c;
}
/* change navbar-toggler inside lines color (stroke) */
.navbar-light span.navbar-toggler-icon {
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  	color: white;
}

.dropdown-menu{
	background-color: #5cb85c;
}
.dropdown-menu a.dropdown-item{
	color: white;
}
.dropdown-menu a.dropdown-item:hover{
 	background-image: none;
  	background-color: white;
  	border-color: #5cb85c;
	color: #5cb85c;
}

/*Reponsive part*/
/* change hamburger button border color */
button.navbar-toggler.navbar-toggler-right {
  border-color: white;
}
/* change navbar background on collapse */
@media (max-width: 768px) {
	/* change navbar background */
	.bg-green {
	    background-color: #5cb85c !important;
	    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
	    -webkit-font-smoothing: antialiased;
	    padding: 0rem 0rem 0rem 1rem;
	    line-height: 2.5rem;
	    padding-right: 1rem;
	}
	/* change navbar-brand color */
	.navbar a.navbar-brand {
	  color: white;
	  font-size: 1rem; 
	}

}




 /* 
 * Conten
 */
 .container-fluid {
 	height: 100%;
 }
 .row{
 	height: 100%;
 }
.container-fluid .row .col{
	padding-top: 5%;
}
.container-fluid .row .col-md-6{
	padding-top: 5%;
}
.container-fluid .row .content{
	background-color: rgba(255, 255, 255, 0.8);
}

.home p{
 	background-color: rgba(255, 255, 255, 0.8);

	font-size: 2rem;
	padding: 2rem 10rem 2rem  10rem;
	border-radius: 1rem;
	position: fixed;
  	top: 50%;
  	left: 50%;
    /* bring your own prefixes */
  	transform: translate(-50%, -50%);

}

.basket-topic-order{
	background-color: #fff; 
	margin-top: 3.5rem;
/*	margin-right: -15px;
	margin-left: -15px;*/
}

.card-basket{
	width: 20rem; 
	margin-top: 1rem;
}

.basket-topic-order-text{


}

/*@media (min-width: 1360px) { 
	.basket-topic-order-text{
		height: 0%;
	}
 }*/
@media (max-width: 768px) {
	 .home p{
	 	background-color: rgba(255, 255, 255, 0.5);
		font-size: 1rem;
		padding: 1rem 5rem 1rem 5rem;
		border-radius: 1rem;
	}

	.container-fluid .row .col{
		padding-top: 15%;
	}
	.container-fluid .row .col-md-6{
		padding-top: 15%;
	}

	.basket-topic-order{
		background-color: #fff; 
		margin-top: 3rem;
/*		margin-right: -15px;
		margin-left: -15px;*/
	}

	.card-basket{
		width: 15rem; 
		margin-top: 1rem;
	}

}